
body{
    background-image: url(https://res.cloudinary.com/dd01p9lb9/image/upload/v1649186638/udea/fondo_pm2yy4.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.menu{
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #054973;
    width: 100%;
    position: fixed;
    top: 0;
    
    

}
.selectores_menu{
    display: flex;
    align-items: center;
}

.selector_img{
    margin-left: 20px;
    height: 35px;
}
.selectores_{
    color: #dee2e6;
    margin-right: 10px;
    font-size: 12px;
}
.imgPrincipal{
    width: 100%;
    top: 30px;
    /* position: relative; */
}
.portada{
    width: 100%;
    
}
.video{
    width:"400"; 
    height:"250";
    
}
.footer{
    width: 100%;
}
.articulos{
    width: 70%;
    display: flex; 
    margin-left: auto;
    margin-right: auto;
   


   
}
.calendario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector_img,.selectores_menu:hover{
    cursor:pointer;
}

.texto{
    font-size: 12px;
    font-weight: 400;
    color: #054973;
}

.titulo{
    font-size: 20px;
}
.lita{
    margin-left: 30px;
}

.imgCalendario{
    width: 270px;
    margin: 10px;
   
}

.imgCalendario:hover{
    width: 300px;
}
